In [3]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [4]:
df=pd.read_csv('./titanic.csv')

In [5]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
X=df.iloc[:,:-1]
y=df.iloc[:,-1]

In [7]:
x_train,x_test,y_train,Y_test=train_test_split(X,y)

In [8]:
x_train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin
124,125,0,1,"White, Mr. Percival Wayland",male,54.0,0,1,35281,77.2875,D26
635,636,1,2,"Davis, Miss. Mary",female,28.0,0,0,237668,13.0000,NaN
800,801,0,2,"Ponesell, Mr. Martin",male,34.0,0,0,250647,13.0000,NaN
428,429,0,3,"Flynn, Mr. James",male,NaN,0,0,364851,7.7500,NaN
292,293,0,2,"Levy, Mr. Rene Jacques",male,36.0,0,0,SC/Paris 2163,12.8750,D
...,...,...,...,...,...,...,...,...,...,...,...
691,692,1,3,"Karun, Miss. Manca",female,4.0,0,1,349256,13.4167,NaN
37,38,0,3,"Cann, Mr. Ernest Charles",male,21.0,0,0,A./5. 2152,8.0500,NaN
536,537,0,1,"Butt, Major. Archibald Willingham",male,45.0,0,0,113050,26.5500,B38
712,713,1,1,"Taylor, Mr. Elmer Zebley",male,48.0,1,0,19996,52.0000,C126
395,396,0,3,"Johansson, Mr. Erik",male,22.0,0,0,350052,7.7958,NaN

In [9]:
x_train.shape

(668, 11)

In [10]:
x_test.shape

(223, 11)

In [11]:
y_train.shape

(668,)

In [12]:
Y_test.shape

(223,)

In [13]:
type(y_train)

pandas.core.series.Series